doctype html
html(lang='en')
 head
   title Daily IoT
   <meta name="viewport" content="width=device-width, initial-scale=1">
   style
     include css/style.css
 body
   a#logout(href="#")
     h1 DAILY IOT
   div.container
       each device, devicename in source.devices
         div.holoform
           span.status
               label(for={devicename}) #{devicename}
               span
                 if (device.state == true)
                   input(id={devicename} type='checkbox' name='status' disabled checked)
                 else
                   input(id={devicename} type='checkbox' name='status' disabled)
                 label(data-on="ACTIVE" data-off="INACTIVE")
           <br>
           if (device.state == true)
             each sstate, sname in device.switches
               span.checkbox
                   <label for='{sname}'>Switch #{sname}</lebel>
                   span
                       if (sstate == true)
                         input(id={sname} type='checkbox' name='switch' checked)
                       else
                         input(id={sname} type='checkbox' name='switch')
                       <label data-on="ON" data-off="OFF"></label>
             <a href="#" id="checkval" class="checkvalue">Check Values</a> 
   include foot.pug

   script(type="text/javascript").
     var serverAddr="#{source.publicUrl}";
   script(type="text/javascript").
     var deviceName="#{source.deviceName}";
   script(type="text/javascript").
     var apiToken="#{source.apiToken}";
   script(type="text/javascript")
     include javascript/profile.js
